<!DOCTYPE html>
<html ng-app="chat" ng-controller="live_chat">
<head>
    <meta charset="UTF-8">
    <title>Live chat </title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="mask" id="mask">
    <div class="input_user">
        <input type="text" ng-model="user" placeholder="请输入昵称">
        <input type="submit" ng-click="submit_user()">
    </div>
</div>
<div class="ui">
    <div class="left-menu">
        <form action="#" class="search">
            <input placeholder="search..." type="search" name="" id="">
            <input type="submit" value="&#xf002;">
        </form>
        <menu class="list-friends">
            <li ng-repeat="l in list_friends">
                <img width="50" height="50" ng-src={{l.img}}>
                <div class="info">
                    <div class="user">{{l.user}}</div>
                    <div class="status" ng-class="{1:'on',0:'off'}[l.status]">{{l.status|online_status}}</div>
                </div>
            </li>
        </menu>
    </div>
    <div class="chat">
        <div class="top">
            <div class="avatar">
                <img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
            </div>
            <div class="info">
                <div class="name">node</div>
                <div class="count">already 1 902 messages</div>
            </div>
            <i class="fa fa-star"></i>
        </div>
        <ul class="messages">
            <li ng-class="{true:'i',false:'other'}[i.me]" ng-repeat="i in message">
                <div class="head">
                    <span class="time">{{i.time}}</span>
                    <span class="name">{{i.user}}</span>
                </div>
                <div class="message">{{i.msg}}</div>
            </li>
            <!--<li class="i">-->
                <!--<div class="head">-->
                    <!--<span class="time">10:13 AM, Today</span>-->
                    <!--<span class="name">me</span>-->
                <!--</div>-->
                <!--<div class="message">)</div>-->
            <!--</li>-->
            <!--<li class="i">-->
                <!--<div class="head">-->
                    <!--<span class="time">10:14 AM, Today</span>-->
                    <!--<span class="name">me</span>-->
                <!--</div>-->
                <!--<div class="message">word..</div>-->
            <!--</li>-->
            <!--<li class="friend-with-a-SVAGina">-->
                <!--<div class="head">-->
                    <!--<span class="name">Jerry</span>-->
                    <!--<span class="time">10:15 AM, Today</span>-->
                <!--</div>-->
                <!--<div class="message">?</div>-->
            <!--</li>-->
        </ul>
        <div class="write-form">
            <textarea placeholder="Type your message" name="e" id="texxt" rows="2" ng-model="send_message" ng-keypress="key($event)"></textarea>
            <i class="fa fa-picture-o"></i>
            <i class="fa fa-file-o"></i>
            <span class="send" id="sendBtn" ng-click="send()">Send</span>
        </div>
    </div>
</div>
<script src="js/angular.js"></script>
<script src='js/jquery.js'></script>
<script src='js/nicescroll.js'></script>
<script src="js/index.js"></script>
<!--<script src = "/socket.io/socket.io.js"></script>-->
<script src="js/socket.io.js"></script>
<script src="controller/chat_controller.js"></script>
<script src="js/filter.js"></script>
</body>
</html>
